.contents
  .contents__success
    %h3 投稿が完了しました
<<<<<<< HEAD
    = link_to'投稿一覧へ戻る', root_path, class:'btn'
=======
    %a(class="btn" href="/posts") 投稿一覧へ戻る
    
>>>>>>> parent of 04f5d8f... destroyまで
